body {
    background-color: ghostwhite;
    /* background-color: #eaeaea; */
}

.toc-sidebar {
    margin-left: 10px;
}

.custom-dropdown-toggle {
    margin-left: 5px;
    margin-right: 0px;
    cursor: pointer;
}

.brand-image {
    max-height: 20px;
}

.list-group-alternating .list-group-item:nth-child(even){
  background-color: #fff;
}

.list-group-alternating .list-group-item:nth-child(odd){
  background-color: #f3f3f3;
}

.has-float-button {
    overflow: hidden;
}
