<div class="
    panel
    {% if chore.completed %}
        panel-success
    {% elif chore.past_due_occurrences.count > 0 %}
        panel-danger
    {% else %}
        panel-default
    {% endif %}
">
    <div class="panel-heading clearfix">
        <div class="dropdown pull-right">
            <span class="dropdown-toggle custom-dropdown-toggle" id="dropdownMenu{{ forloop.counter }}"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-option-vertical"></span>
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ forloop.counter }}">
                <li><a href="{% url 'chores:chore_detail' pk=chore.pk %}">Go to Chore Details</a></li>
                {% if not chore.completed %}
                <li><a href="#">Mark Chore Complete</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="#">Delete Chore</a></li>
            </ul>
        </div>
        <h4 class="panel-title">
            {% if chore.completed %}
            <span class="label label-success pull-right">Completed</span>
            {% elif chore.past_due_occurrences.count > 0 %}
            <span class="label label-danger pull-right">Has Past Due Occurrences</span>
            {% endif %}
            <a href="{% url 'chores:chore_detail' pk=chore.pk %}">
                <span class="glyphicon glyphicon-link"></span>
                {{ chore.name|title }}
            </a>
            <small>
                {% if chore.completed %}
                    {% if chore.instances.all.count > 0 %}
                        {% with chore.instances.last as last %}
                        Scheduled <span class="label label-info">{{ last.datetime|date:'l, F jS Y \a\t H:m:s' }}</span>
                        {% endwith %}
                    {% else %}
                        Scheduled <span class="label label-info">{{ chore.datetime|date:'l, F jS Y \a\t H:m:s' }}</span>
                    {% endif %}
                {% elif chore.next_occurrences.all.count > 0 %}
                    Coming up on <span class="label label-info">{{ chore.next_occurrences.0.datetime|date:'l, F jS Y \a\t H:m:s' }}</span>
                {% endif %}
                <br>
                {% if chore.last_completed_by %}
                Last completed by {{ chore.last_completed_by.username }}
                {% endif %}
            </small>
        </h4>
    </div>
    <div class="panel-body">
        {{ chore.description }}
    </div>
</div>
