{% extends "chores/chores_base.html" %}

{% block chore_content %}

<div class="page-header">
    <h2>Details</h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading has-float-button">
        <h4 class="panel-title">
            {{ chore.name|title }}
            <div class="pull-right">
                <button type="button" data-toggle="tooltip"
                        data-placement="left" title="Edit Chore Details"
                        class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </h4>
    </div>
    <div class="panel-body">
        <p>{{ chore.description }}</p>
        <div>
            When?
            {% for chore_interval in chore.chore_intervals.all %}
                {% if chore_interval.repeat_interval == 'custom' %}
                    Every {{ chore_interval.custom_chore_interval }}
                    day{{ chore_interval.custom_chore_interval|pluralize }}
                    starting <span class="label label-info">{{ chore.datetime|date:'l, F jS Y \a\t H:m:s' }}</span>
                {% else %}
                    {{ chore_interval.repeat_interval|capfirst }}
                    starting <span class="label label-info">{{ chore.datetime|date:'l, F jS Y \a\t H:m:s' }}</span>
                {% endif %}
            {% empty %}
                {{ chore.datetime|date:'Y-m-d \a\t H:m:s' }}
            {% endfor %}
        </div>
    </div>
    <div class="panel-footer">
        <div>
            Ongoing?
            <span class="
                glyphicon
                {% if chore.repeats %}
                    glyphicon-check
                {% else %}
                    glyphicon-unchecked
                {% endif %}
            "></span>
        </div>
    </div>
</div>

{% if chore.past_due_occurrences.count > 0 %}
    {% include 'chores/_chore_detail_instance_list.html' with panel_class='panel-danger' panel_body_content="Here's a list" panel_title='Past Due Occurrences:' dropdown_menu_id_prefix='dropdownMenuPastDue' chore_instance_list=chore.past_due_occurrences.all %}
{% endif %}

{% include 'chores/_chore_detail_instance_list.html' with panel_class='panel-default' panel_body_content="List of upcoming events" panel_title='Upcoming Occurrences:' dropdown_menu_id_prefix='dropdownMenu' chore_instance_list=chore.next_occurrences.all %}

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}
