{% extends "chores/chores_base.html" %}

{% block chore_content %}

<div class="jumbotron">
    <h2>Chore details:</h2>
    <p>Name: {{ chore.name }}</p>
    <p>Description: {{ chore.description }}</p>
    <p>Repeats?: {{ chore.repeats }}</p>
    {% if chore.repeats %}
        <h3>Repetitions:</h3>
        {% for chore_interval in chore.chore_intervals.all %}
            <p>{{ chore_interval }}</p>
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    <p><a class="btn btn-warning" href="{% url 'chores:chore_edit' pk=chore.pk %}">Edit</a></p>
    <p><a class="btn btn-danger" href="{% url 'chores:chore_remove' pk=chore.pk %}">Remove</a></p>
</div>

{% endblock %}