{% extends "chores/chores_base.html" %}


{% block chore_content %}
<div class="page-header">
    <h1>{{ page_title }}</h1>
</div>
<div>
    {% for chore_instance in chore_instance_list %}
        {% ifchanged chore_instance.datetime|date:'Y-m-d' %}
            <div class="page-header">
                <a name="{{ chore_instance.datetime|date:'Y-m-d' }}"></a>
                {% now "Y-m-d" as todays_date %}
                {% if chore_instance.datetime|date:'Y-m-d' == todays_date %}
                    <h4>Today</h4>
                {% else %}
                    <h4>{{ chore_instance.datetime|date:'l' }}</h4>
                {% endif %}
            </div>
        {% endifchanged %}

        {% include 'chores/_chore_instance.html' %}
    {% empty %}
        <p>{{ empty_message }}</p>
    {% endfor %}
</div>
{% endblock %}
