{% extends "chores/chores_base.html" %}


{% block chore_content %}
<div class="page-header">
    <h1>{{ page_title }}</h1>
</div>
<div>

    {% for chore_instance in chore_instance_list %}
        {% ifchanged chore_instance.datetime|date:'Y-m-d' %}
            <div class="page-header">
                <a name="{{ chore_instance.datetime|date:'Y-m-d' }}"></a>
                {% now "Y-m-d" as todays_date %}
                {% if chore_instance.datetime|date:'Y-m-d' == todays_date %}
                    <h4>Today</h4>
                {% else %}
                    <h4>{{ chore_instance.datetime|date:'l, F jS' }}</h4>
                {% endif %}
            </div>
        {% endifchanged %}

        {% include 'chores/_chore_instance.html' %}
    {% empty %}
        <p>{{ empty_message }}</p>
    {% endfor %}
</div>

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}

{% block postchore %}
<nav class="toc-sidebar hidden-print hidden-xs hidden-sm affix">
    <h5 class="toc-sidebar-title">Navigation</h5>
    <ul class="nav bs-docs-sidenav">
        {% for chore_instance in chore_instance_list %}
            {% ifchanged chore_instance.datetime|date:'Y-m-d' %}
                {% if chore_instance != chore_instance_list.all.0 %}
                        </li>
                    </ul>
                {% endif %}
                <li>
                    <div class="page-link">
                        <h6>
                            <a id="sideNavItem{{ forloop.counter }}" href="#{{ chore_instance.datetime|date:'Y-m-d' }}">
                            {% now "Y-m-d" as todays_date %}
                            {% if chore_instance.datetime|date:'Y-m-d' == todays_date %}
                            Go to Today
                            {% else %}
                            Go to {{ chore_instance.datetime|date:'l' }}
                            {% endif %}
                            </a>
                        </h6>
                    </div>
                    <ul class="list-unstyled">

            {% endifchanged %}
<!--                        <li><h6 class="panel-title"><small>{{ chore_instance.chore.name }}</small></h6></li>-->

        {% empty %}
        {% endfor %}
            </ul>
    </ul>
</nav>
{% endblock %}
