{% extends "chores/chores_base.html" %}

{% block prechore %}

{% endblock %}

{% block chore_content %}
<div class="col-md-8">
<div class="page-header">
    <h1>What's on your list this week?</h1>
</div>
<div class="list-group">
    {% for chore in chore_list %}
        <a class="list-group-item" href="{% url 'chores:chore_detail' pk=chore.pk %}">
            <h4 class="list-group-item-heading">
                {{ chore.name }}
            </h4>
            <p class="list-group-item-text">
                Coming up on {{ chore.instances.all.0.datetime|date:'Y-m-d \a\t H:m:s' }}
                <br>
                {{ chore.description }}
            </p>
        </a>
    {% endfor %}
</div>
</div>
{% endblock %}