{% extends 'chores/chores_base.html' %}
{% load bootstrap3 %}

{% block chore_content %}
<div class="page-header">
    <h2>Create A New Chore</h2>
</div>

<form method="post">
    {% if form.errors %}
    <p>Something has gone wrong.</p>
    {% endif %}

    {% csrf_token %}
    {% bootstrap_form chore_form %}
    <div id="intervalDetails">
        {% bootstrap_form interval_form %}
    </div>
    <button type="submit" class="save btn btn-primary">Save</button>
</form>

<script language="JavaScript">

    $("#choreRepeatsCheckbox").change(function(){
        if ($(this).is(":checked")) {
            $("#intervalDetails").show()
        } else {
            $("#intervalDetails").hide()
        }
    }).change();

</script>
{% endblock %}